@charset "ISO-8859-1";

@font-face {
    font-family: 'bahnschrift';
    src: url('C:/Users/bgr/AppData/Local/Microsoft/Windows/Fonts/Bahnschrift/bahnschrift') format('bahnschrift'),

}


        

body {
    background-color: #354152;
    color: rgb(255, 255, 255);
    font: 300 0.6666666667rem 'bahnschrift', Helvetica Neue, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    min-height: 100%;
    max-height: 500;
}

h2 {
    color: white;
    font-size: 1.5rem;
    max-width:800px;
    margin: 20px auto;
    margin-top: 4rem;
    padding: 20px;
}

form {
	
	justify-content: center;
    align-items: center;
	box-shadow: 0 0 250px #000;
	font: 300 1.2rem 'bahnschrift', Helvetica Neue, Arial, sans-serif;
    font-weight: bold;
    max-width:800px;
    margin: 20px auto;
    margin-right: 250px;
    background-color: rgb(53, 65, 82);
    padding: 20px;
    border-radius: 8px;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.selectorMain {
  appearance: none;
  background-color: #f4f4f4;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  color: #555;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.selectorMain:focus {
  outline: none;
  background-color: #e0e0e0;
}

.selectorMain::-ms-expand {
  display: none;
}

.selectorMain option {
  color: #555;
}



input[type="radio"] {
    margin-right: 5px;
}
input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

input[type="submit"] {
	font: 300 1rem 'bahnschrift', Helvetica Neue, Arial, sans-serif;
    background-color: white;
    color: black;
    border: #378f7b;
    border-width: 1rem;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
.selector {
    width: 150px; 
}
input[type="submit"]:hover {
    background-color: #555;
}
form div.inline {
            display: inline-block;
            width: 49%;
        }

form div.inline + div.inline {
            margin-left: 0%;
        }
        

.sidebar {
	box-shadow: 0 0 170px #000;
    border-radius: 0px;
    border: #8ceabb;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: linear-gradient(180deg, rgb(53, 65, 82) 0%, rgb(62, 77, 96) 90%);
    color: #fff;
}

.sidebar-brand {
    height: 8rem;
    display: flexbox;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.sidebar-brand span {
    display: none; 
}

.sidebar-logo {
	margin-top: 1.2rem;
	margin-bottom: 1rem;
	margin-right: 2rem;
	margin-left: 0.5rem;
	justify-content: center;
    align-items: center;
    width:10rem;
}

.navbar-nav .nav-link {
    color: #fff;
    text-align: right; 
    padding-left: 0rem; 
}
 .available-flights {
	 height: 25rem;
	 margin-left: 25%;
	 margin-right: 25%;
        margin-top: 20px;
        background-color: #f5f5f5;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

.available-flights h3 {
        margin-bottom: 10px;
        font-size: 24px;
        color: #333;
    }

.available-flights ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

.available-flights li {
		width: 5rem;
        background-color: #fff;
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
    }

.available-flights li:nth-child(even) {
        background-color: #f9f9f9;
    }

.available-flights li h4 {
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 10px;
        color: #333;
    }

.available-flights li p {
        margin: 0;
        color: #666;
    }

.available-flights button {
        display: block;
        margin-top: 20px;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        background-color: #333;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }

.available-flights button:hover {
        background-color: #333;
    }
.navbar-nav .nav-link i {
    margin-right: 0rem;
}

.navbar-nav .nav-link:hover {
    color: #fff;
}


.sidebar .sidebar-divider {
    margin-top: 1rem;
    margin-bottom: 3rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.sidebar .nav-item {
	height: 3rem;
    width: 100%;
}

.sidebar .nav-link {
	width: 100%;
	height: 3rem;
    text-align: left;
    padding: 1rem 3rem;
    text-decoration: none;
}

.sidebar .nav-link span {
    font-size: 0.9rem;
    margin-left: 0;
    padding-right: 8px;
}


.sidebar .nav-item.active .nav-link {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar .nav-item:hover .nav-link {
    background-color: rgba(255, 255, 255, 0.05);
}

.scroll-to-top {
    position: staticfixed;
    right: 1rem;
    bottom: 1rem;
}
.sidebar .navbar-nav {
    list-style: none;
    padding: 0;
}

.passenger-info {
        width: 150%; 
        margin: 0 auto;
    }
    table,
td {
	margin-left: 180px;
	font-size-adjust: inherit;
	width: 950px;
	background-color: #264b76;
	color: rgb(255, 255, 255);
    border: 1px solid rgb(128, 128, 128);
}

thead,
tfoot {
	margin-left: 180px;
    background:  #002c5f;
    color: rgb(255, 255, 255);
}
.payment {
    text-align: center;
    margin-top: 20px;
}

.payment button {
    display: block;
    margin-top: 20px;
    margin-left: 1020px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.payment button:hover {
    background-color: rgb(128, 128, 128); 
}

.search {
    text-align: center;
    margin-top: 20px;
}

.search button {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.search button:hover {
    background-color: rgb(128, 128, 128); 
}
.paymentType{
	margin-left:185px;
}