<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>reservationSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login2</display-name>
    <servlet-name>login2</servlet-name>
    <servlet-class>login2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login2</servlet-name>
    <url-pattern>/login2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>availableFlightsServlet</display-name>
    <servlet-name>availableFlightsServlet</servlet-name>
    <servlet-class>availableFlightsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>availableFlightsServlet</servlet-name>
    <url-pattern>/availableFlightsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reservationServlet</display-name>
    <servlet-name>reservationServlet</servlet-name>
    <servlet-class>reservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reservationServlet</servlet-name>
    <url-pattern>/reservationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reservation</display-name>
    <servlet-name>Reservation</servlet-name>
    <servlet-class>com.helper.Reservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reservation</servlet-name>
    <url-pattern>/Reservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitPassengerInfoServlet</display-name>
    <servlet-name>SubmitPassengerInfoServlet</servlet-name>
    <servlet-class>SubmitPassengerInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitPassengerInfoServlet</servlet-name>
    <url-pattern>/SubmitPassengerInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>totalPriceServlet</display-name>
    <servlet-name>totalPriceServlet</servlet-name>
    <servlet-class>totalPriceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>totalPriceServlet</servlet-name>
    <url-pattern>/totalPriceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServiceServlet</display-name>
    <servlet-name>UserServiceServlet</servlet-name>
    <servlet-class>com.helper.UserServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServiceServlet</servlet-name>
    <url-pattern>/UserServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManagementServlet</display-name>
    <servlet-name>UserManagementServlet</servlet-name>
    <servlet-class>UserManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManagementServlet</servlet-name>
    <url-pattern>/UserManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
</web-app>